.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
postgres_data/
synthetic_data/mock_data_100_users.json
catboost_info/
models_ai/artifacts/
.DS_Store
